html, body {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #1e1e1e;
  color: #ffffff;
  overflow: hidden;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
}

.mainlayout {
  background-color: #121212;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
